openapi: 3.0.0
info:
  title: Account and Transaction API Specification
  description: Swagger for Account and Transaction API Specification
  termsOfService: https://www.openbanking.org.uk/terms
  contact:
    name: Service Desk
    email: ServiceDesk@openbanking.org.uk
  license:
    name: open-licence
    url: https://www.openbanking.org.uk/open-licence
  version: v3.1-draft4
servers:
  - url: 'http://ob.lightapi.net'
  
paths:
  "/balances/{AccountId}":
    get:
      tags:
        - Balances
      summary: Get Balances
      operationId: GetAccountsAccountIdBalances
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/x-fapi-financial-id-Param"
        - $ref: "#/components/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/components/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/components/parameters/AuthorizationParam"
        - $ref: "#/components/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/components/responses/200AccountsAccountIdBalancesRead"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "406":
          $ref: "#/components/responses/406ErrorResponse"
        "429":
          $ref: "#/components/responses/429ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - PSUOAuth2Security:
            - accounts

  /balances:
    get:
      tags:
        - Balances
      summary: Get Balances
      operationId: GetBalances
      parameters:
        - $ref: "#/components/parameters/x-fapi-financial-id-Param"
        - $ref: "#/components/parameters/x-fapi-customer-last-logged-time-Param"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address-Param"
        - $ref: "#/components/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/components/parameters/AuthorizationParam"
        - $ref: "#/components/parameters/x-customer-user-agent-Param"
      responses:
        "200":
          $ref: "#/components/responses/200BalancesRead"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "404":
          $ref: "#/components/responses/404ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "406":
          $ref: "#/components/responses/406ErrorResponse"
        "429":
          $ref: "#/components/responses/429ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - PSUOAuth2Security:
            - accounts
components:
  parameters:
    x-fapi-financial-id-Param:
      in: header
      name: x-fapi-financial-id
      required: true
      description: The unique id of the ASPSP to which the request is issued. The unique id
        will be issued by OB.
      schema:
        type: string
    x-fapi-customer-ip-address-Param:
      in: header
      name: x-fapi-customer-ip-address
      required: false
      description: The PSU's IP address if the PSU is currently logged in with the TPP.
      schema:
        type: string
    x-fapi-interaction-id-Param:
      in: header
      name: x-fapi-interaction-id
      required: false
      description: An RFC4122 UID used as a correlation id.
      schema:
        type: string
    x-fapi-customer-last-logged-time-Param:
      in: header
      name: x-fapi-customer-last-logged-time
      required: false
      description: >-
        The time when the PSU last logged in with the TPP. 

        All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 

        Sun, 10 Sep 2017 19:43:31 UTC
      schema:
        type: string
        pattern: ^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2}
          (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}
          \d{2}:\d{2}:\d{2} (GMT|UTC)$
        
    AuthorizationParam:
      in: header
      name: Authorization
      required: true
      description: An Authorisation Token as per https://tools.ietf.org/html/rfc6750
      schema:
        type: string

    x-customer-user-agent-Param:
      in: header
      name: x-customer-user-agent
      description: Indicates the user-agent that the PSU is using.
      required: false
      schema:
        type: string
    AccountId:
      name: AccountId
      in: path
      description: AccountId
      required: true
      schema:
        type: string
    FromBookingDateTimeParam:
      in: query
      name: fromBookingDateTime
      description: >-
        The UTC ISO 8601 Date Time to filter transactions FROM

        NB Time component is optional - set to 00:00:00 for just Date.

        If the Date Time contains a timezone, the ASPSP must ignore the timezone component.
      schema:
        type: string
        format: date-time
    ToBookingDateTimeParam:
      in: query
      name: toBookingDateTime
      description: >-
        The UTC ISO 8601 Date Time to filter transactions TO

        NB Time component is optional - set to 00:00:00 for just Date.

        If the Date Time contains a timezone, the ASPSP must ignore the timezone component.
      schema:
        type: string
        format: date-time
        
  responses:
    200AccountsAccountIdBalancesRead:
      description: Balances Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBReadBalance1"

    200BalancesRead:
      description: Balances Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBReadBalance1"
    400ErrorResponse:
      description: Bad request
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBErrorResponse1"
    401ErrorResponse:
      description: Unauthorized
    403ErrorResponse:
      description: Forbidden
    404ErrorResponse:
      description: Not found
    405ErrorResponse:
      description: Method Not Allowed
    406ErrorResponse:
      description: Not Acceptable
    415ErrorResponse:
      description: Unsupported Media Type
    429ErrorResponse:
      description: Too Many Requests
      headers:
        Retry-After:
          description: Number in seconds to wait
          schema:
            type: integer
    500ErrorResponse:
      description: Internal Server Error
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBErrorResponse1"

  securitySchemes:
    PSUOAuth2Security:
      type: oauth2
      description: OAuth flow, it is required when the PSU needs to perform SCA with the
        ASPSP when a TPP wants to access an ASPSP resource owned by the PSU
      flows:
        authorizationCode:
          authorizationUrl: https://authserver.example/authorization
          tokenUrl: https://authserver.example/token
          scopes:
            accounts: Ability to read Accounts information
    TPPOAuth2Security:
      type: oauth2
      description: TPP client credential authorisation flow with the ASPSP
      flows:
        clientCredentials:
          tokenUrl: https://authserver.example/token
          scopes:
            accounts: Ability to read Accounts information

  schemas:
    OBError1:
      type: object
      properties:
        ErrorCode:
          description: Low level textual error code, e.g., UK.OBIE.Field.Missing
          type: string
          minLength: 1
          maxLength: 128
        Message:
          description: >-
            A description of the error that occurred. e.g., 'A mandatory field
            isn't supplied' or 'RequestedExecutionDateTime must be in future'

            OBIE doesn't standardise this field
          type: string
          minLength: 1
          maxLength: 500
        Path:
          description: Recommended but optional reference to the JSON Path of the field
            with error, e.g., Data.Initiation.InstructedAmount.Currency
          type: string
          minLength: 1
          maxLength: 500
        Url:
          description: URL to help remediate the problem, or provide more information, or
            to API Reference, or help etc
          type: string
      required:
        - ErrorCode
        - Message
      additionalProperties: false
      minProperties: 1

    OBErrorResponse1:
      description: An array of detail error codes, and messages, and URLs to documentation
        to help remediation.
      type: object
      properties:
        Code:
          description: High level textual error code, to help categorize the errors.
          type: string
          minLength: 1
          maxLength: 40
        Id:
          description: A unique reference for the error instance, for audit purposes, in
            case of unknown/unclassified errors.
          type: string
          minLength: 1
          maxLength: 40
        Message:
          description: Brief Error message, e.g., 'There is something wrong with the
            request parameters provided'
          type: string
          minLength: 1
          maxLength: 500
        Errors:
          items:
            $ref: "#/components/schemas/OBError1"
          type: array
          minItems: 1
      required:
        - Code
        - Message
        - Errors
      additionalProperties: false
    AccountId:
      description: A unique and immutable identifier used to identify the account resource.
        This identifier has no meaning to the account owner.
      type: string
      minLength: 1
      maxLength: 40

    OBReadBalance1:
      type: object
      properties:
        Data:
          type: object
          properties:
            Balance:
              items:
                $ref: "#/components/schemas/OBCashBalance1"
              type: array
              description: Set of elements used to define the balance details.
              minItems: 1
          required:
            - Balance
          additionalProperties: false
        Links:
          $ref: "#/components/schemas/Links"
        Meta:
          $ref: "#/components/schemas/Meta"
      required:
        - Data
        - Links
        - Meta
      additionalProperties: false
    OBCashBalance1:
      description: Set of elements used to define the balance details.
      type: object
      properties:
        AccountId:
          $ref: "#/components/schemas/AccountId"
        CreditDebitIndicator:
          type: string
          enum:
            - Credit
            - Debit
          description: |-
            Indicates whether the balance is a credit or a debit balance. 
            Usage: A zero balance is considered to be a credit balance.
        Type:
          $ref: "#/components/schemas/OBBalanceType1Code"
        DateTime:
          description: >-
            Indicates the date (and time) of the balance.

            All dates in the JSON payloads are represented in ISO 8601 date-time format. 

            All date-time fields in responses must include the timezone. An example is below:

            2017-04-05T10:43:07+00:00
          type: string
          format: date-time
        Amount:
          $ref: "#/components/schemas/OBActiveOrHistoricCurrencyAndAmount"
        CreditLine:
          items:
            $ref: "#/components/schemas/OBCreditLine1"
          type: array
          description: Set of elements used to provide details on the credit line.
      required:
        - AccountId
        - CreditDebitIndicator
        - Type
        - DateTime
        - Amount
      additionalProperties: false
      minProperties: 1
    OBCreditLine1:
      description: Set of elements used to provide details on the credit line.
      type: object
      properties:
        Included:
          description: >-
            Indicates whether or not the credit line is included in the balance
            of the account.

            Usage: If not present, credit line is not included in the balance amount of the account.
          type: boolean
        Type:
          $ref: "#/components/schemas/OBExternalLimitType1Code"
        Amount:
          $ref: "#/components/schemas/OBActiveOrHistoricCurrencyAndAmount"
      required:
        - Included
      additionalProperties: false
    OBExternalLimitType1Code:
      description: Limit type, in a coded form.
      type: string
      enum:
        - Available
        - Credit
        - Emergency
        - PreAgreed
        - Temporary

    OBActiveCurrencyAndAmount_SimpleType:
      description: A number of monetary units specified in an active currency where the
        unit of currency is explicit and compliant with ISO 4217.
      type: string
      pattern: ^\d{1,13}\.\d{1,5}$

    OBActiveOrHistoricCurrencyAndAmount:
      description: Amount of money of the cash balance after a transaction entry is applied
        to the account..
      type: object
      properties:
        Amount:
          $ref: "#/components/schemas/OBActiveCurrencyAndAmount_SimpleType"
        Currency:
          description: A code allocated to a currency by a Maintenance Agency under an
            international identification scheme, as described in the latest
            edition of the international standard ISO 4217 "Codes for the
            representation of currencies and funds".
          type: string
          pattern: ^[A-Z]{3,3}$
      required:
        - Amount
        - Currency
      additionalProperties: false
    OBBalanceType1Code:
      description: Balance type, in a coded form.
      type: string
      enum:
        - ClosingAvailable
        - ClosingBooked
        - ClosingCleared
        - Expected
        - ForwardAvailable
        - Information
        - InterimAvailable
        - InterimBooked
        - InterimCleared
        - OpeningAvailable
        - OpeningBooked
        - OpeningCleared
        - PreviouslyClosedBooked

    ISODateTime:
      description: >-
        All dates in the JSON payloads are represented in ISO 8601 date-time
        format. 

        All date-time fields in responses must include the timezone. An example is below:

        2017-04-05T10:43:07+00:00
      type: string
      format: date-time
    Links:
      type: object
      description: Links relevant to the payload
      properties:
        Self:
          type: string
          format: uri
        First:
          type: string
          format: uri
        Prev:
          type: string
          format: uri
        Next:
          type: string
          format: uri
        Last:
          type: string
          format: uri
      additionalProperties: false
      required:
        - Self
    Meta:
      title: MetaData
      type: object
      description: Meta Data relevant to the payload
      properties:
        TotalPages:
          type: integer
          format: int32
        FirstAvailableDateTime:
          $ref: "#/components/schemas/ISODateTime"
        LastAvailableDateTime:
          $ref: "#/components/schemas/ISODateTime"
      additionalProperties: false


